<!-- _widget/commonMenu -->

<% for (const item of items) {
   if (item.name === 'separator') { %>
<li role="separator" class="divider"></li>
<% } else { %>
<li class="<%- item === active ? 'active' : '' %>">
    <a href="<%- item.url %>" data-t=""><%- item.text %></a>
</li>
<% }} %>