<!-- _widget/commonMenu -->
<%
for (const item of items) {
   if (item.name === 'separator') { %>
<li class="dropdown-divider"></li>
<% } else { %>
<a class="dropdown-item <%- item === active ? 'active' : '' %>"
   href="<%- item.url %>" data-t=""><%- item.text %></a>
<% }} %>