<!-- _widget/notification-toggle -->

<li class="dropdown notifications-menu" data-jam="LoadableContent" data-url="default/widget?id=notifications">
    <a href="#" class="dropdown-toggle loadable-toggle" data-toggle="dropdown" title="Notifications">
        <i class="far fa-bell"></i>
        <span class="notification-counter label label-danger"><%- counter %></span>
    </a>
    <ul class="dropdown-menu loadable-content">
        <li class="text-center">
            <span class="fa fa-spinner fa-spin"></span>
        </li>
    </ul>
</li>