<!-- _widget/notifications -->
<div class="notification-menu nav-block"
     data-jam="Notifications"
     data-url="default/widget?id=notifications"
     data-period="60"
     data-counter="<%- counter %>">

    <button class="nav-btn nav-btn-primary btn" title="Notifications" data-bs-toggle="dropdown">
        <i class="far fa-bell"></i>
        <span class="unread-notification-counter"></span>
    </button>

    <div class="dropdown-menu dropdown-menu-end">
        <div class="card">
            <div class="no-notifications" data-t="">You have no new notifications</div>
            <div class="notifications">
                <div class="text-center">
                    <i class="fa fa-spinner fa-spin"></i>
                </div>
            </div>
            <div class="card-footer">
                <a href="account/notification" class="btn-primary btn w-100" data-t="">All notifications</a>
            </div>
        </div>
    </div>

    <template data-id="notification">
        <a href="javascript:void 0" class="notification-item" data-id="{{id}}">{{title}}</a>
    </template>

    <template data-id="popup">
        <div class="notification-popup"></div>
    </template>
</div>