<!-- _part/nav/notifications -->
<li data-jam="NotificationWidget" class="notifications-menu dropdown"
    data-url="default/widget?id=notifications"
    data-period="60"
    data-counter="<%- counter %>">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" title="Notifications">
        <i class="far fa-bell"></i>
        <span class="unread-counter label label-danger"></span>
    </a>
    <ul class="dropdown-menu">
        <li class="empty-message header">
            You have no new notifications
        </li>
        <li>
            <ul class="messages menu">
                <li class="text-center">
                    <span class="fa fa-spinner fa-spin"></span>
                </li>
            </ul>
        </li>
    </ul>
</li>