<!-- _part/nav/notifications -->
<li data-jam="NotificationWidget" class="notifications-menu dropdown"
    data-url="default/widget?id=notifications"
    data-period="60"
    data-counter="<%- counter %>">
    <a href="#" class="dropdown-toggle" title="Notifications" data-t="" data-toggle="dropdown">
        <i class="far fa-bell"></i>
        <span class="unread-counter label label-danger"></span>
    </a>
    <ul class="dropdown-menu">
        <li class="empty-message header">
            <span data-t="">You have no new notifications</span>
        </li>
        <li>
            <ul class="messages menu">
                <li class="text-center">
                    <span class="fa fa-spinner fa-spin"></span>
                </li>
            </ul>
        </li>
    </ul>
</li>