<!-- _part/list/bottom -->

<div class="row-bottom">
    <div class="data-grid-pages">
        <div class="data-grid-pagination"></div>
        <select class="data-grid-page-jumper form-control hidden"></select>
    </div>
    <div class="data-grid-info"></div>
</div>