<!-- _part/list/commands -->

<div class="commands">
    <% if (data.multiple) { %>
    <button data-command="selectAll" class="btn-outline-secondary btn" type="button" title="Select all">
        <i class="fas fa-list"></i>
    </button>
    <% } if (data.create) { %>
    <button data-command="create" class="btn-outline-success btn" type="button" title="Create">
        <i class="fas fa-plus"></i>
    </button>
    <% }  if (data.update) { %>
    <button data-command="update" class="btn-outline-primary btn" type="button" title="Edit">
        <i class="fas fa-pencil-alt"></i>
    </button>
    <% } if (data.delete) { %>
    <button data-command="delete" class="btn-outline-danger btn" type="button" title="Delete">
        <i class="far fa-trash-alt"></i>
    </button>
    <% } %>
    <div class="nav-group">
        <button data-command="reload" class="btn-outline-secondary btn" type="button" title="Reload">
            <i class="fa fa-redo-alt"></i>
        </button>
    </div>
    <% if (data.createMultiple) { %>
    <button data-command="createMultiple" class="btn-outline-success btn" type="button" title="Create multiple">
        <i class="fas fa-th"></i>
    </button>
    <% } if (data.clone) { %>
    <button data-command="clone" class="btn-outline-success btn" type="button" title="Clone">
        <i class="far fa-clone"></i>
    </button>
    <% } if (typeof tools !== 'undefined') { %>
    <%- include(_view.get('_part/misc/render'), {data: tools}) %>
    <% } %>
</div>