<!-- _part/list/grid -->
<%
if (data.key === undefined) {
    data.key = model.PK;
}
if (data.list !== null) {
    if (data.list === undefined && typeof params !== 'undefined' && params.list) {
        data.list = params.list;
    }
    data.list = _url(data.list === undefined ? 'list' : data.list);
}
if (Array.isArray(data.select)) {
    data.select = _url(data.select);
}
if (data.create !== null) {
    data.create = _url(data.create === undefined ? 'create' : data.create);
}
if (data.update !== null) {
    data.update = _url(data.update === undefined ? 'update' : data.update);
}
if (data.updateAttr !== null) {
    data.updateAttr = _url(data.updateAttr === undefined ? 'update-attr' : data.updateAttr);
}
if (data.delete !== null) {
    data.delete = _url(data.delete === undefined ? 'delete-list' : data.delete);
}
if (data.clone === true) {
    data.clone = _url('clone');
} else if (Array.isArray(data.clone)) {
    data.clone = _url(data.clone);
}
if (data.order === undefined) {
    data.order = {[model.PK]: -1};
}
let hasKeyColumn = false;
for (const column of data.columns) {
    if (column.label === undefined) {
        column.label = model.getAttrLabel(column.name);
    }
    if (column.name === data.key) {
        hasKeyColumn = true;
    }
}
if (!hasKeyColumn) {
    data.columns.unshift({
        type: 'id',
        name: model.PK,
        hidden: true,
        searchable: true,
        sortable: true
    });
}
if (data.multiple === undefined) {
    data.multiple = true;
}
if (data.filter && !data.filter.url) {
    data.filter.url = _url('filter');
}
if (data.showTop === undefined) {
    data.showTop = true;
}
if (data.jam === undefined) {
    data.jam = 'MainList';
}
data.id = _controller.getCurrentRoute();
%>
<div class="data-grid" data-jam="<%- data.jam %>" data-params="<%= JSON.stringify(data) %>">

    <%- include(_view.get('_part/list/commands')) %>

    <% if (data.filter) { %>
    <div class="list-filter">
        <div class="text-center"><i class="fa fa-spinner fa-spin"></i></div>
    </div>
    <% } if (data.showTop) { %>
    <div class="row-top row">
        <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="data-grid-common-search">
                <input type="search" class="form-control" placeholder="Search...">
                <span class="clear" title="Clear">&times;</span>
                <span class="advanced-toggle glyphicon glyphicon-cog" title="Advanced search"></span>
            </div>
        </div>
        <div class="col-sm-6 col-md-8 col-lg-9">
            <div class="data-grid-tuner">
                <button type="button" class="toggle btn btn-default">
                    <span class="glyphicon glyphicon-cog"></span>
                </button>
            </div>
            <div class="data-grid-page-size hidden">
                <select class="form-control" title="Page size"></select>
            </div>
        </div>
    </div>
    <% } %>
    <div class="table-responsive">
        <table class="data-grid-table table table-bordered table-striped table-condensed">
            <thead></thead>
            <tbody></tbody>
        </table>
    </div>
    <%- include(_view.get('_part/list/bottom')) %>
</div>