<!-- _part/list/order -->
<%
if (!data.id) {
    data.id = data.list;
}
if (data.view !== null) {
    data.view = relController.createUrl(data.view === undefined ? 'view' : data.view);
}
if (data.update !== null) {
    data.update = relController.createUrl(data.update === undefined ? 'update' : data.update);
}
for (let column of data.columns) {
    if (column.label === undefined) {
        column.label = relModel.getAttrLabel(column.name);
    }
}
if (!data.customIdAttr) {
    data.columns.unshift({
        'name': relModel.PK,
        'type': 'id',
        'hidden': true,
        'searchable': true,
        'sortable': true
    });
}
data.key = relModel.PK;
data.multiple = true;
data.url = _controller.getOriginalUrl();
data.order = {[orderAttr]: 1};
data.pageSize = 0;

data.data = [];
for (let model of models) {
    let map = {};
    for (let column of data.columns) {
        map[column.name] = model.getViewAttr(column.name);
    }
    data.data.push(map);
}
%>
<div class="box box-grid ant-modal-scroll-container" data-title="<%- blocks.title %>">
    <div class="box-header with-border scroll-header">
        <div class="list-controls clearfix">

            <button data-id="saveClose" class="btn btn-primary" type="button" title="Save and close">
                <span class="glyphicon glyphicon-saved"></span>
            </button>
            <button data-id="cancel" class="btn btn-warning mr10" type="button" title="Cancel">
                <span class="glyphicon glyphicon-remove"></span>
            </button>

            <div class="btn-group mr10">
                <button data-id="up" class="btn btn-default" type="button">
                    <span class="glyphicon glyphicon-arrow-up"></span>
                </button>
                <button data-id="down" class="btn btn-default" type="button">
                    <span class="glyphicon glyphicon-arrow-down"></span>
                </button>
            </div>

            <% if (data.view) { %>
            <button data-id="view" class="btn btn-default" type="button" title="View">
                <span class="glyphicon glyphicon-eye-open"></span>
            </button>
            <% } %>
            <% if (data.update) { %>
            <button data-id="update" class="btn btn-warning btn-light" type="button" title="Update">
                <span class="glyphicon glyphicon-pencil"></span>
            </button>
            <% } %>

            <button data-id="reload" class="btn btn-default ml10" type="button" title="Reload">
                <span class="fa fa-sync-alt"></span>
            </button>

            <% if (typeof tools !== 'undefined') { %>
            <%- include(_view.get('_part/universal-render'), {
                data: tools
            }) %>
            <% } %>
        </div>
    </div>

    <div class="box-body scroll-body">
        <div class="ant-list data-grid" data-params="<%= JSON.stringify(data) %>">

            <div class="table-responsive">
                <table class="data-grid-table table table-bordered table-striped table-condensed">
                    <thead></thead>
                    <tbody></tbody>
                </table>
            </div>
            <div class="row">
                <div class="col-md-5">
                    <div class="data-grid-info"></div>
                </div>
                <div class="col-md-7">
                    <div class="data-grid-pages">
                        <div class="data-grid-pagination"></div>
                        <select class="data-grid-page-jumper form-control hidden"></select>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="list-loader overlay"><i class="fa fa-spinner fa-spin"></i></div>
</div>

<script>
    Ant.modal.onLoad(Ant.OrderList.init.bind(Ant.OrderList));
</script>