<!-- _part/list/sort -->
<%
block('tab', 'Sort');
block('title', 'Sorting');

if (!data.id) {
    data.id = data.list;
}
if (data.update !== null) {
    data.update = relController.createUrl(data.update === undefined ? 'update' : data.update);
}
data.key = relModel.PK;
data.multiple = true;
data.url = _controller.getOriginalUrl();
data.order = {[orderAttr]: 1};
data.pageSize = 0;

let hasKeyColumn = false;
for (const column of data.columns) {
    if (column.label === undefined) {
        column.label = relModel.getAttrLabel(column.name);
    }
    if (column.name === data.key) {
        hasKeyColumn = true;
    }
}
if (!hasKeyColumn) {
    data.columns.unshift({
        name: relModel.PK,
        hidden: true,
        searchable: true,
        sortable: true
    });
}
data.data = [];
for (const model of models) {
    const map = {};
    for (const {name, format} of data.columns) {
        if (format === 'label') {
            map[name] = model.getAttrValueLabel(name);
        } else if (format === 'relation') {
            map[name] = model.getRelatedTitle(name);
        } else {
            map[name] = model.getViewAttr(name);
        }
    }
    data.data.push(map);
}
if (data.jam === undefined) {
    data.jam = 'SortList';
}
%>
<div class="data-grid" data-jam="<%- data.jam %>" data-params="<%= JSON.stringify(data) %>">
    <div class="list-commands clearfix">
        <button data-command="saveClose" class="btn btn-primary" type="button" title="Save and close">
            <span class="glyphicon glyphicon-off"></span>
        </button>
        <div class="btn-set">
            <button data-command="up" class="btn btn-default" type="button">
                <span class="glyphicon glyphicon-arrow-up"></span>
            </button>
            <button data-command="down" class="btn btn-default" type="button">
                <span class="glyphicon glyphicon-arrow-down"></span>
            </button>
        </div>
        <% if (data.update) { %>
        <button data-command="update" class="btn btn-warning btn-light" type="button" title="Edit">
            <span class="glyphicon glyphicon-pencil"></span>
        </button>
        <% } %>
        <div class="btn-set">
            <button data-command="reload" class="btn btn-default" type="button" title="Reload">
                <span class="fa fa-redo-alt"></span>
            </button>
        </div>
        <% if (typeof tools !== 'undefined') { %>
        <%- include(_view.get('_part/other/render'), {data: tools}) %>
        <% } %>
    </div>
    <div class="table-responsive">
        <table class="data-grid-table table table-bordered table-striped table-condensed">
            <thead></thead>
            <tbody></tbody>
        </table>
    </div>
    <%- include(_view.get('_part/list/bottom')) %>
</div>