<!-- _part/list/top -->
<div class="row-top row">
    <div class="col-md-6 col-lg-4">
        <div class="data-grid-common-search input-group">
            <input type="search" class="form-control" placeholder="Search...">
            <div class="input-group-append">
                <button class="advanced-toggle btn-outline-info btn" type="button" title="Advanced search">
                    <i class="fas fa-filter" ></i>
                </button>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-8">
        <div class="data-grid-tuner">
            <button type="button" class="toggle btn-outline-secondary btn" title="Customize columns">
                <i class="fas fa-cog"></i>
            </button>
        </div>
        <div class="data-grid-page-size hidden">
            <select class="form-control" title="Page size"></select>
        </div>
    </div>
</div>