<!-- _part/list/top -->
<div class="row-top row">
    <div class="col-md-6 col-lg-4 col-xl-3">
        <div class="data-grid-search input-group">
            <input type="search" class="form-control" placeholder="Search...">
            <button class="advanced-toggle btn-outline-secondary btn" type="button" title="Advanced search">
                <i class="fas fa-filter" ></i>
            </button>
        </div>
    </div>
    <div class="col-md-6 col-lg-8 col-xl-9">
        <div class="data-grid-tuner">
            <button type="button" class="toggle btn-outline-secondary btn" title="Customize columns">
                <i class="fas fa-cog"></i>
            </button>
        </div>
        <div class="data-grid-page-size hidden">
            <select class="form-select" title="Page size"></select>
        </div>
    </div>
</div>