<!-- _part/nav/commonMenuToggle -->
<% if (true) { %>
<div class="dropdown pull-left" data-jam="LoadableContent" data-url="default/widget?id=commonMenu">
    <a href="#" class="icon-btn dropdown-toggle loadable-toggle" role="button" data-toggle="dropdown">
        <span class="glyphicon glyphicon-menu-hamburger"></span>
    </a>
    <ul class="dropdown-menu loadable-content">
        <li class="text-center">
            <span class="fa fa-spinner fa-spin"></span>
        </li>
    </ul>
</div>
<% } %>