<!-- _part/nav/commonMenu -->
<div class="nav-block" data-jam="Loadable" data-url="default/widget?id=commonMenu">
    <button type="button" class="nav-btn nav-btn-primary btn loadable-toggle"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-bars"></i>
    </button>
    <div class="dropdown-menu loadable-content" aria-labelledby="navbarDropdown">
        <div class="text-center">
            <i class="fa fa-spinner fa-spin"></i>
        </div>
    </div>
</div>