<!-- _part/nav/global-menu-toggle -->
<% if (true) { %>
<div class="global-menu-toggle loadable-container dropdown pull-left"
    data-url="<%- _url([url, {'id': 'globalMenu'}]) %>">
    <a href="#" class="icon-btn dropdown-toggle" role="button"
       data-toggle="dropdown" data-loadable-toggle>
        <span class="glyphicon glyphicon glyphicon-menu-hamburger"></span>
    </a>
    <ul class="dropdown-menu loadable-content">
        <li class="text-center">
            <span class="fa fa-spinner fa-spin"></span>
        </li>
    </ul>
</div>
<% } %>