<!-- _part/nav/user -->
<div class="user-menu nav-block" data-jam="Loadable" data-url="default/widget?id=user">
    <button class="nav-btn nav-btn-primary btn loadable-toggle" data-toggle="dropdown" title="User">
        <span class="d-none d-sm-inline">
            <%- _controller.user.getTitle() %>
        </span>
        <span class="d-inline-block d-sm-none far fa-user"></span>
    </button>
    <div class="dropdown-menu loadable-content dropdown-menu-right">
        <div class="text-center">
            <i class="fa fa-spinner fa-spin"></i>
        </div>
    </div>
</div>