<!-- _part/nav/userToggle -->
<li class="dropdown user user-menu" data-jam="LoadableContent" data-url="default/widget?id=user">
    <a href="#" class="dropdown-toggle loadable-toggle" data-toggle="dropdown" title="User">
        <span class="hidden-xs">
            <%- _controller.user.getTitle() %>
        </span>
        <span class="visible-xs-inline-block far fa-user"></span>
    </a>
    <ul class="dropdown-menu loadable-content">
        <li class="text-center">
            <span class="fa fa-spinner fa-spin"></span>
        </li>
    </ul>
</li>