<!-- _part/other/dialog -->
<div id="main-dialog" class="dialog">
    <div class="box">
        <div class="box-head"></div>
        <div class="box-body"></div>
        <div class="box-foot">
            <button class="btn-submit btn" type="button"></button>
            <button class="btn-cancel btn-default btn" type="button"></button>
        </div>
    </div>
</div>