<!-- _part/other/flash -->
<%
if (typeof _controller.req.flash === 'function') {
    const flashes = _controller.req.flash();
    for (const key of Object.keys(flashes)) {
        const flash = flashes[key];
%>
    <div class="alert alert-<%- key %>">
        <% for (const message of flash) { %>
            <p><%- message %></p>
        <% } %>
    </div>
<% }} %>