<!-- _layout/frame/select -->
<% layout(_view.get('_layout/frame/list')) %>

<%- body %>

<div class="prepend-commands">
  <div class="nav-group">
    <button data-command="select" class="btn-primary btn" type="button" title="Select">
      <i class="fas fa-check"></i>
    </button>
  </div>
</div>