<% layout(_view.get('_layout/content')) %>
<% block('title', _t('Bad request')) %>

<div class="error-page">
    <h2 class="headline text-yellow"> 400</h2>
    <div class="error-content">
        <h3>
            <i class="fa fa-exclamation text-yellow"></i>
            <%- blocks.title %>
        </h3>
        <p><%- _t('Invalid requested parameters') %></p>
    </div>
</div>