<% layout(_view.get('_layout/content')) -%>

<% block('title', 'Bad Request') -%>

<div class="error-page">
    <h2 class="headline text-yellow"> 400</h2>
    <div class="error-content">
        <h3><i class="fa fa-warning text-yellow"></i> Bad Request</h3>
        <p>
            Invalid requested parameters.
        </p>
    </div>
</div>