<%
layout(_view.get('_layout/content'));
block('title', _t('Bad request'));
%>
<div class="error-page">
  <div class="error-content">
    <h1 class="error-header"><%- blocks.title %></h1>
    <div class="error-text"><%- _t('Invalid requested parameters') %></div>
  </div>
</div>