<% layout(_view.get('_layout/content')) %>

<% block('title', _t('Page not found')) %>

<div class="error-page">
    <h2 class="headline text-yellow"> 404</h2>
    <div class="error-content">
        <h3>
            <i class="fa fa-exclamation text-yellow"></i>
            <%- blocks.title %>
        </h3>
        <p><%- _t('We could not find the resource you were looking for') %></p>
    </div>
</div>