<%
layout(_view.get('_layout/content'));
block('title', _t('Page not found'));
%>
<div class="error-page">
  <div class="error-content">
    <h1 class="error-header"><%- blocks.title %></h1>
    <div class="error-text"><%- _t('We could not find the resource you were looking for') %></div>
  </div>
</div>