
.skin-black .main-header .icon-btn,
.skin-black-light .main-header .icon-btn {
    color: #333;
}
.skin-black .main-header .icon-btn:hover,
.skin-black-light .main-header .icon-btn:hover {
    color: #999;
    background: #fff;
}