<%
const p = {
    id: typeof id === 'undefined' ? model.getFormAttrId(attr) : id,
    name: typeof name === 'undefined' ?  model.getFormAttrName(attr) : name,
    value: typeof value === 'undefined' ?  !!model.get(attr) : value,
    label: typeof label === 'undefined' ? model.getAttrLabel(attr) : label
};
%>
<div class="form-attr form-group">
    <div class="checkbox">
        <label>
            <input name="<%- p.name %>" type="checkbox" <%- p.value ? 'checked' : '' %> class="checkbox-control">
            <%- _t(p.label) %>
        </label>
    </div>
</div>