<%
const accessBlocked = _t('Access blocked');

layout(_view.get('_layout/auth'));
block('title', accessBlocked);
%>
<div class="alert alert-danger text-center">
    <% if (model.getAttempts()) { %>
    <%- _t('Access blocked for') %>
    <b><%- _format(model.getBlockedTill() - (new Date), 'duration') %></b>
    <% } else { %>
    <%- accessBlocked %>
    <% } %>
</div>

<div class="text-center">
    <a href="/"><%- _t('Back to main') %></a>
</div>