<%
const blocked = _t('Access blocked');

layout(_view.get('_layout/auth'));
block('title', blocked);
%>
<div class="alert-danger alert">
    <% if (model.getAttempts()) { %>
    <%- _t('Access blocked for') %>
    <b><%- _format(model.getDuration(), 'duration') %></b>
    <% } else { %>
    <%- blocked %>
    <% } %>
</div>

<div class="text-center">
    <a href="/"><%- _t('Home') %></a>
</div>