<!-- _part/tool/modal-back -->

<div class="navbar-tools pull-left">
    <button id="ant-modal-root-back" class="ant-modal-root-back btn btn-danger" title="Go to modal">
        <span class="glyphicon glyphicon-arrow-right"></span>
    </button>
</div>