<!-- _part/tool/modalBack -->
<div class="navbar-tools pull-left">
    <button id="modal-root-back" class="modal-root-back btn btn-danger" title="Back to modal">
        <span class="far fa-window-maximize"></span>
    </button>
</div>