<!-- _part/tool/modalBack -->
<div class="navbar-tools pull-left">
    <button id="modal-root-back" class="modal-root-back btn btn-danger" title="Back to modal form">
        <span class="glyphicon glyphicon-arrow-right"></span>
    </button>
</div>