<!-- _part/tool/model-export -->

<button data-url="<%- _url(['export', model]) %>"
        data-id="postAction" class="btn btn-info btn-light" type="button" title="Export">
    <span class="glyphicon glyphicon-export"></span>
</button>