<!-- _part/tool/modelHistory -->
<% if (model.isNew() && model.getBehavior('history')) { %>
    <button data-command="history" data-url="<%- _url('history/index-modal', {oid: model.getId()}) %>"
            title="History" class="history btn-light btn" type="button">
        <i class="fa fa-history"></i>
    </button>
<% } %>