<!-- _part/tool/utils -->

<% if (typeof hasUtils !== 'undefined' && hasUtils) { %>
<div class="util-container" data-id="utils" data-url="<%- _url('default/util')%>">
    <div class="util-menu btn-group">
        <button type="button" class="btn btn-white dropdown-toggle" data-toggle="dropdown">
            <span data-t="">Utilities</span>
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li class="text-center">
                <span class="fa fa-spinner fa-spin"></span>
            </li>
        </ul>
    </div>
    <div class="util-pool"></div>
</div>
<% } %>