<!-- _part/misc/confirmation -->

<div id="global-confirmation" class="confirmation">
    <div class="box">
        <div class="box-head">
            Confirmation
        </div>
        <div class="box-body"></div>
        <div class="box-foot">
            <button class="btn-confirm btn" type="button" >Confirm</button>
            <button class="btn-cancel btn-default btn" type="button" >Cancel</button>
        </div>
    </div>
</div>