<!-- _part/misc/footer -->
<footer class="main-footer">
    <div class="text-center">
        <a href="https://github.com/mkhorin/evado" target="_blank">Powered by Evado Framework</a>
        <small class="text-secondary">v5.3.5</small>
    </div>
</footer>