<!-- _part/misc/modal -->
<div class="jmodal-area" data-jam="Modal">
    <div class="jmodal-stack">
        <button type="button" class="close jmodal-close"><span>&times;</span></button>
        <div class="jmodal-stack-toggle sample">
            <span class="text"></span>
        </div>
        <div class="jmodal-stack-toggle root">
            <span class="glyphicon glyphicon-arrow-left"></span>
        </div><div class="jmodal-stack-pool"></div>
    </div>
    <div class="jmodal-pool">
    </div>
    <div class="sample jmodal with-header">
        <div class="jmodal-container">
            <div class="jmodal-header">
                <button type="button" class="jmodal-close close"><span>&times;</span></button>
                <h3 class="jmodal-title"></h3>
            </div>
            <div class="jmodal-body">
            </div>
        </div>
        <div class="jmodal-loader overlay"><i class="fa fa-spinner fa-spin"></i></div>
    </div>
</div>