<!-- _part/misc/table -->

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
            <% for (let column of columns) { %>
                <th><%= column.attr %></th>
            <% } %>
            </tr>
        </thead>
        <tbody>
        <% for (let model of models) { %>
            <tr>
            <% for (let column of columns) { %>
                <td>
                    <%= model.get(column.attr) %>
                </td>
            <% } %>
            </tr>
        <% } %>
        </tbody>
    </table>
</div>