<!-- _layout/modal/form -->
<%
let data = {
    url: _controller.getOriginalUrl(),
    className: model.NAME,
    timestamp: _controller.timestamp
};
if (typeof params !== 'undefined') {
    Object.assign(data, params);
}
%>
<div class="jmodal-scroll-container box-info box" data-title="<%= blocks.title %>">
    <div class="box-header with-border scroll-header">
        <div class="model-controls">
            <button data-id="saveClose" class="btn btn-primary" type="button" title="Save and close">
                <span class="glyphicon glyphicon-saved"></span>
            </button>
            <button data-id="cancel" class="btn btn-white mr10" type="button" title="Cancel">
                <span class="glyphicon glyphicon-remove"></span>
            </button>

            <button data-id="reload" class="reload btn btn-default" type="button" title="Reload">
                <span class="fa fa-sync-alt"></span>
            </button>

            <%- include(_view.get('_part/misc/universal-render'), {data: _data.get('customControls')}) %>
        </div>
    </div>
    <div class="scroll-body box-body">
        <form class="model form-horizontal form" autocomplete="off" enctype="multipart/form-data"
              data-jam-class="Model"
              data-params="<%= JSON.stringify(data) %>">
            <%- body -%>
        </form>
    </div>
    <div class="model-loader overlay">
        <i class="fa fa-spinner fa-spin"></i>
    </div>
</div>