<!-- _layout/modal/model-view -->
<%
let data = {
    id: model.getId(),
    key: model.PK,
    update: _url('update')
};
if (typeof params !== 'undefined') {
    Object.assign(data, params);
}
%>
<div class="jmodal-scroll-container content-box box-info box" data-title="<%= blocks.title %>">

    <div class="box-header with-border scroll-header">
        <div class="model-controls">
            <% if (data.update) { %>
            <button class="update btn btn-warning btn-light" type="button" title="Update">
                <span class="glyphicon glyphicon-pencil"></span>
            </button>
            <% } %>
            <button data-id="reload" class="reload btn btn-default" type="button" title="Reload">
                <span class="fa fa-sync-alt"></span>
            </button>

            <%- include('../../_part/tool/model-history') %>
        </div>
    </div>
    <div class="scroll-body box-body">
        <div class="model-view model form-horizontal form"
             data-jam="Model"
             data-params="<%= JSON.stringify(data) %>">
            <%- body -%>
        </div>
    </div>
</div>