<!-- layout/modal/select -->

<%- body -%>

<div class="before-list-controls">
    <button data-id="select" class="btn btn-primary mr10" type="button" title="Select">
        <span class="glyphicon glyphicon-check"></span>
    </button>
</div>