<!-- layout/modal/select -->

<%- body %>

<div class="before-list-commands btn-set">
    <button data-command="select" class="btn btn-primary" type="button" title="Select">
        <span class="glyphicon glyphicon-check"></span>
    </button>
</div>