<!-- parts/modal -->
<div id="ant-modal" class="ant-modal-area">
    <div class="ant-modal-stack">
        <button type="button" class="close ant-modal-close"><span>×</span></button>
        <div class="ant-modal-stack-toggle sample">
            <span class="text"></span>
        </div>
        <div class="ant-modal-stack-toggle root">
            <span class="glyphicon glyphicon-arrow-left"></span>
        </div><div class="ant-modal-stack-pool"></div>
    </div>
    <div class="ant-modal-pool"></div>
    <div class="sample ant-modal with-header">
        <div class="ant-modal-container">
            <div class="ant-modal-header">
                <button type="button" class="ant-modal-close close"><span>×</span></button>
                <h3 class="ant-modal-title"></h3>
            </div>
            <div class="ant-modal-body">
            </div>
        </div>
        <div class="ant-modal-loader overlay"><i class="fa fa-spinner fa-spin"></i></div>
    </div>
</div>