<!-- _part/attr/hidden -->
<%
const p = {};
%>
<%- include(_view.get('_part/attr/_params'), {p}) %>

<div class="form-attr hidden" data-handler="<%= p.handler %>">
    <input name="<%- p.name %>" type="hidden" value="<%= p.value %>" class="form-value">
</div>