<!-- _part/attr/hidden -->

<% const p = {}; %>

<%- include('_params', {p}) %>

<div class="form-attr hidden" data-handler="<%= p.handler %>">
    <input name="<%- p.name %>" type="hidden" value="<%= p.value %>">
</div>